@page "/"
@using System.Reactive.Subjects



<div class="row-layout master-view-container">
	<IgbInput Label="Label/Placeholder" Outlined="true" @bind-Value="_inputValue" class="input" master_view-scope></IgbInput>
	<p class="typography__body-1 text">
		@_inputValue
	</p>
	<IgbInput Value="@(_inputValue ?? default)" Label="Label/Placeholder" Outlined="true" class="input" master_view-scope></IgbInput>
	<IgbDatePicker Label="Date" SelectedValueChanged="DatePickerSelectedValueChanged" class="date-picker" master_view-scope></IgbDatePicker>
</div>

@code {
	private bool _boolvar = false;
	private string _inputValue;
	private DateTime _dATEVAR;

	public void InputInputOcurred(IgbComponentValueChangedEventArgs e)
	{
		this._inputValue = (string)e.Detail;
	}

	public void DatePickerSelectedValueChanged(IgbSelectedValueChangedEventArgs e)
	{
		this._dATEVAR = (DateTime)e.NewValue;
	}
}
