.row-layout {
    display: flex;
}
.master-view-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.input {
    height: max-content;
    min-width: min-content;
    flex-shrink: 0;
}
.date-picker {
    height: max-content;
    min-width: 120px;
    flex-shrink: 0;
}
.text {
    height: max-content;
    min-width: min-content;
}
