<div class="column-layout group">
  <igx-checkbox labelPosition="after" [(ngModel)]="boolVar" class="user-input">
    Label
  </igx-checkbox>
  <igx-switch [(ngModel)]="boolVar" class="user-input">
    Label
  </igx-switch>



  <igx-radio-group class="user-input">
    <igx-radio value="1" class="radio">
      Label
    </igx-radio>
    <igx-radio value="2" class="radio">
      Label
    </igx-radio>
    <igx-radio value="3" class="radio">
      Label
    </igx-radio>
  </igx-radio-group>



  <igx-select type="border" [(ngModel)]="stringVar!" class="select">
    <igx-select-item value="Option">
      {{stringVar}}
    </igx-select-item>
    <label igxLabel>Label/Placeholder</label>
  </igx-select>



  <igx-calendar [hasHeader]="true" [vertical]="false" class="calendar" [(ngModel)]="dateVar!"></igx-calendar>



  <igx-slider [(ngModel)]="numVar!" [minValue]="0" [maxValue]="100" [step]="10" [secondaryTickLabels]="false" class="slider"></igx-slider>
  <igx-input-group type="border" class="ig-typography__body-1 textarea">
    <label igxLabel>Label/Placeholder</label>
    <textarea [(ngModel)]="stringVar!" igxInput></textarea>
  </igx-input-group>
  <igx-date-picker [(ngModel)]="dateVar!" type="border" mode="dialog" class="date-picker">
    <label igxLabel>Date</label>
  </igx-date-picker>
</div>




<div class="column-layout group_1"></div>
<div class="column-layout group_2">
  <p class="text">
    String var
  </p>
  <p class="text_1">
    {{ stringVar }}
  </p>
  <p class="text">
    Date var
  </p>
  <p class="text_1">
    {{ dateVar }}
  </p>
  <p class="text">
    Bool var
  </p>
  <p class="text_1">
    {{ boolVar }}
  </p>
  <p class="text">
    Num var
  </p>
  <p class="text_1">
    {{ numVar }}
  </p>
</div>
