<div class="column-layout group">
  <div class="row-layout group_1">
    <h4 class="h4">
      Component, bound to DATE variable
    </h4>
    <button igxButton="contained" igxRipple routerLink="/num-bound-components-view" class="button">
      Previous
    </button>
    <button igxButton="contained" igxRipple routerLink="/master-view" class="button_1">
      Next
    </button>
  </div>
  <div class="row-layout group_2">
    <div class="column-layout group_3">
      <p class="text">
        Value of the variable:
      </p>
      <p class="text_1">
        {{ date }}
      </p>
    </div>
    <div class="column-layout group_4"></div>
    <div class="column-layout group_5">
      <div class="row-layout group_6">
        <p class="text_2">
          Two way bound components
        </p>
      </div>
      <div class="row-layout group_7">
        <igx-checkbox [(ngModel)]="readonly">ReadOnly / Disabled</igx-checkbox>
        <div class="column-layout group_8">
          <igx-date-picker [(ngModel)]="date" [ngModelOptions]="{updateOn: 'blur'}" type="border" mode="dialog" class="date-picker" [disabled]="readonly">
            <label igxLabel>Date</label>
          </igx-date-picker>
        </div>
        <div class="column-layout group_9">
          <igx-calendar [viewDate]="date" [(ngModel)]="date" [ngModelOptions]="{updateOn: 'blur'}" [hasHeader]="true" [vertical]="false" class="calendar" [disabled]="readonly"></igx-calendar>
        </div>
        <div class="column-layout group_10">
          
            <igx-time-picker #tp
              [(ngModel)]="date!"
              [ngModelOptions]="{updateOn: 'blur'}" 
              [disabled]="readonly"
              displayFormat="shortDate">
            </igx-time-picker>
        </div>
      </div>
    </div>
  </div>
</div>